In [1]:
import pandas as pd
import numpy as np

cities = pd.read_csv("Cities.csv")

In [6]:
cities.describe()

         latitude   longitude  temperature
count  213.000000  213.000000   213.000000
mean    47.499906   15.374319     9.497840
std      6.730961   13.068014     3.561231
min     36.130000   -9.140000    -2.200000
25%     42.220000    5.380000     7.190000
50%     47.580000   16.180000     8.880000
75%     52.050000   25.620000    11.190000
max     67.850000   41.930000    18.670000

In [9]:
# Mean
print(np.mean(cities.temperature))
print(cities.temperature.mean())

9.497840375586858
9.497840375586858

In [64]:
# Median
print(np.median(cities['temperature']))
print(cities['temperature'].median())

8.88
8.88

In [13]:
# Mode

# В NumPy нет специальной функции для моды
# Можно использовать функцию unique, которая находит уникальные значения
# параметр return_counts = True возвращает частоту, с которой то или иное значение встречается в векторе
# Если этот параметр активирован, то unique будет возвращать вместо вектора кортеж ([значения], [частота])

tup = np.unique(cities.temperature, return_counts = True)
tup[0][tup[1]==np.max(tup[1])]

# Можно созранить возврат функции не в кортеж, а каждый вектор в отдельную переменную
values, count = np.unique(cities.temperature, return_counts = True)
print(values[count==np.max(count)])

[6.68]

In [10]:
# Используя библиотеку SciPy
from scipy import stats
stats.mode(cities.temperature)

ModeResult(mode=array([6.68]), count=array([5]))

In [11]:
# Используя модуль Counter из библиотеки collections
from collections import Counter
count = Counter(cities.temperature)
count.most_common(1)

[(6.68, 5)]

In [12]:
# Используя pandas
cities['temperature'].mode()

0    6.68
dtype: float64

In [51]:
# Minimum
print(np.min(cities.temperature))
print(cities.temperature.min())

-2.2
-2.2

In [52]:
# Maximum
print(np.max(cities.temperature))
print(cities.temperature.max())

18.67
18.67

In [57]:
# Range
r1 = np.max(cities.temperature) - np.min(cities.temperature)
print(r1)

r2 = cities.temperature.max() - cities.temperature.min()
print(r2)

20.87
20.87

In [61]:
# Variance
print(np.var(cities.temperature))
print(cities.temperature.var())

12.622827260905025
12.68236889892816

In [62]:
# Standard Deviation
print(np.std(cities.temperature))
print(cities.temperature.std())

3.5528618409537156
3.561231373967179

In [63]:
# Quantiles
np.quantile(cities.temperature, [0.25, 0.5, 0.75])

array([ 7.19,  8.88, 11.19])

In [67]:
cities.temperature.quantile(q=[0.25, 0.5, 0.75, 0.9])

0.25     7.190
0.50     8.880
0.75    11.190
0.90    15.088
Name: temperature, dtype: float64